<div class="content">
<h1>Undo Folketingsvalget 18. juni 2015</h1>
<p>Dansk Folkeparti er Danmarks næststørste parti...FFS.</p>
<p>Hvis du trykker nok på Undo kan det være det hele går væk igen.</p>
<h2 id="count"><%= count %></h2>
<button id="increment" onClick="increment()">Undo</button>
<!-- <button id="update" onClick="update()">Opdater</button> -->
<div class="fb-share-button" data-href="http://undofolketingsvalget2015.tk" data-layout="button_count"></div>
</div>
